PORT=3000
MONGO_URL=mongodb://0.0.0.0/npm
GOOGLE_CALLBACK_URL=http://localhost:3000/api/user/google/callback
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
ACCESSTOKEN=thisisuseforaccesstokegeneration
REFRESHTOKEN=thisisuseforrefreshtokegeneration
